#contact {
  color: $grey;
  h2 {
    text-align: center;
  }
  .contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0 25px 0;
    .contact-text-bg {
      position: relative;
      width: 300px;
      height: 500px;
      background-color: #4e4e57;
      .contact-text {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: $lightred;
        color: #fff;
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
        h3 {
          font-size: 28px;
          margin: 10px 0 40px 0;
        }
        p {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          margin: 10px 0;
        }
      }
    }
    form {
      width: 50%;
      h3 {
        color: #4e4e57;
        font-size: 22px;
      }
      input,
      textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin: 10px 0 20px 0;
        &:focus {
          outline: none;
          border: 1px solid $red;
        }
      }
      button.btn {
        border: 1px solid $red;
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          color: $red;
        }
      }
    }
  }
}

@media screen and (max-width: 1092px) {
  #contact {
    .contact-info {
      flex-direction: column-reverse;
      .contact-text-bg {
        width: 90%;
        height: 300px;
        margin: 30px 0;
        .contact-text {
          height: auto;
        }
      }
      form {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 642px) {
  #contact {
    .contact-info {
      .contact-text-bg {
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  #contact {
    .contact-info {
      .contact-text-bg {
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #contact {
    margin-bottom: 100px;
    .contact-info {
      .contact-text-bg {
        height: 450px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  #contact {
    margin-bottom: 50px;
    .contact-info {
      .contact-text-bg {
        height: 550px;
      }
    }
  }
}
