header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  visibility: hidden;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  padding: 0;
}

header ul li {
  font-size: 16px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

header ul li:hover {
  color: #ea3449;
}

header ul #close {
  visibility: hidden;
  -webkit-transition: 0s;
  transition: 0s;
}

header ul .active {
  color: #ea3449;
}

@media screen and (max-width: 900px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  header i {
    visibility: visible;
    cursor: pointer;
    font-size: 20px;
  }
  header ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ea3449;
    height: 250px;
    width: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-270px);
            transform: translateY(-270px);
    -webkit-transition: 0s;
    transition: 0s;
  }
  header ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1a1a1d;
    width: 100%;
    height: 50px;
  }
  header ul li:hover {
    color: #fff;
    background-color: #ea3449;
  }
  header ul #close {
    visibility: visible;
  }
  header .toggle-menu {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
}

#about {
  background-color: #fff;
  color: #1a1a1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin: 100px 0;
}

#about .img-bg {
  position: relative;
  width: 450px;
  height: 400px;
  background-color: #ea3449;
}

#about .img-bg img {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -250px;
     object-position: center -250px;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}

#about .about-text {
  width: 40%;
  margin: 30px 50px;
}

#about .about-text div {
  width: 90%;
}

#about .about-text div h3 {
  color: rgba(0, 0, 0, 0.7);
}

#about .about-text div p {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 10px 0 30px 0;
}

#about .about-text h2 {
  color: #fff;
  background-color: #ea3449;
  padding: 5px;
  margin-bottom: 50px;
}

#about .about-text #about-2 {
  margin-left: 10%;
}

#about .about-text #about-3 {
  margin-left: 20%;
}

@media screen and (max-width: 1092px) {
  #about .about-text {
    width: 80%;
  }
  #about .about-text #about-2,
  #about .about-text #about-3 {
    margin-left: 0;
  }
}

@media screen and (max-width: 540px) {
  #about {
    margin: 50px 0;
  }
  #about .img-bg {
    display: none;
  }
  #about .about-text {
    width: 95%;
    margin: 0;
  }
  #about .about-text div {
    width: 100%;
  }
}

#pricing {
  background-color: #1a1a1d;
}

#pricing h2 {
  text-align: center;
}

#pricing .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px auto 100px auto;
  color: rgba(0, 0, 0, 0.6);
}

#pricing .pricing .pricing-container {
  background-color: #fff;
  width: 30%;
  margin: 0 3%;
  border: 1px solid #ea3449;
  -webkit-box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.2);
}

#pricing .pricing .pricing-container.pricing-main {
  -webkit-transform: scale(105%) translateY(-25px);
          transform: scale(105%) translateY(-25px);
}

#pricing .pricing ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pricing .pricing ul li {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ea3449;
  width: 100%;
}

#pricing .pricing ul .pricing-title {
  background-color: #ea3449;
  color: #fff;
}

@media (max-width: 1290px) {
  #pricing .pricing {
    margin: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #pricing .pricing .pricing-container {
    margin: 30px 0;
    width: 60%;
  }
  #pricing .pricing .pricing-container.pricing-main {
    -webkit-transform: scale(100%) translateY(0);
            transform: scale(100%) translateY(0);
  }
}

@media screen and (max-width: 570px) {
  #pricing .pricing .pricing-container {
    width: 100%;
  }
}

#contact {
  color: #1a1a1d;
}

#contact h2 {
  text-align: center;
}

#contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 25px 0;
}

#contact .contact-info .contact-text-bg {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #4e4e57;
}

#contact .contact-info .contact-text-bg .contact-text {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #eb5668;
  color: #fff;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}

#contact .contact-info .contact-text-bg .contact-text h3 {
  font-size: 28px;
  margin: 10px 0 40px 0;
}

#contact .contact-info .contact-text-bg .contact-text p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
}

#contact .contact-info form {
  width: 50%;
}

#contact .contact-info form h3 {
  color: #4e4e57;
  font-size: 22px;
}

#contact .contact-info form input,
#contact .contact-info form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0 20px 0;
}

#contact .contact-info form input:focus,
#contact .contact-info form textarea:focus {
  outline: none;
  border: 1px solid #ea3449;
}

#contact .contact-info form button.btn {
  border: 1px solid #ea3449;
  color: #fff;
  cursor: pointer;
}

#contact .contact-info form button.btn:hover {
  background-color: transparent;
  color: #ea3449;
}

@media screen and (max-width: 1092px) {
  #contact .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #contact .contact-info .contact-text-bg {
    width: 90%;
    height: 300px;
    margin: 30px 0;
  }
  #contact .contact-info .contact-text-bg .contact-text {
    height: auto;
  }
  #contact .contact-info form {
    width: 90%;
  }
}

@media screen and (max-width: 642px) {
  #contact .contact-info .contact-text-bg {
    height: 350px;
  }
}

@media screen and (max-width: 530px) {
  #contact .contact-info .contact-text-bg {
    height: 400px;
  }
}

footer {
  background-color: #1a1a1d;
  height: 35vh;
}

footer .footer-upper {
  height: 30vh;
  padding: 50px 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-upper .footer-left {
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-upper .footer-left .logo {
  font-size: 36px;
  color: #fff;
  margin-bottom: 30px;
}

footer .footer-upper .footer-left span {
  color: #ea3449;
}

footer .footer-upper .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-upper .footer-right a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer .footer-upper .footer-right a:hover {
  color: #ea3449;
}

footer .footer-upper .footer-right .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-upper .footer-right .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 10px 15px;
}

footer .footer-upper .footer-right .footer-links ul li {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2px;
}

footer .footer-upper .footer-right .footer-links ul li h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

footer .footer-upper .footer-right .social-icons {
  width: 100%;
  text-align: center;
}

footer .footer-upper .footer-right .social-icons i {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

footer .footer-upper .footer-right .social-icons i:hover {
  border-color: #ea3449;
}

footer .footer-bottom {
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ea3449;
  margin: auto 0 0 0;
  height: 5vh;
}

@media screen and (max-width: 540px) {
  footer {
    height: auto;
  }
  footer .footer-upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  footer .footer-upper .footer-right {
    margin: 20px 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ea3449;
}

::selection {
  color: white;
  background: #ea3449;
}

body {
  margin: 0;
  color: #fff;
  /*background-color: #313036;*/
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 23px;
}

main {
  margin: 0;
}

section {
  padding: 50px 8%;
}

#start {
  height: 100vh;
  background: url(../images/main-bg-01.jpg), center no-repeat;
  background-size: cover;
}

.logo {
  font-size: 24px;
  cursor: pointer;
}

.logo-span {
  color: #ea3449;
}

/*Start*/
.start-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  width: 500px;
  margin: 350px 0 0 150px;
}

.start-container p {
  font-size: 22px;
}

.btn {
  margin: 20px 0;
  background-color: #ea3449;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: 1px solid #ea3449;
}

.btn:hover {
  color: #ea3449;
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  #start {
    height: 80vh;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    font-size: 18px;
  }
  #start {
    height: 60vh;
  }
  #start .start-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 200px 0;
    width: 100%;
  }
  #start .start-container h1 {
    font-size: 35px;
  }
  #start .start-container p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #start {
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */